{% extends 'main/header.html' %}

{% block content %}
<style>
    body {
        text-align: "center";
    }
    #signed_in_container {
        width: 100%;
        align-content: center;
        padding: 8px;
    }
    #google-login {
        margin: 12px;
    }
</style>
<head>
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="598091712371-4692gi02rn9ou6cko433875rmljo1rmj.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
{% if user.is_authenticated %}
    <div class="row">
        {% for cat in categories %}
            <div class="col s12 m6 l4">
                <a href="{{cat.category_slug}}", style="color:#000">
                    <div class="card hoverable">
                        <div class="card-content">
                            <div class="card-title">{{cat.tutorial_category}}</div>
                            <!--<p style="font-size:70%">Published {{tut.tutorial_published}}</p>-->
                            <p>{{cat.category_summary}}</p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
<h3>Upcoming Events</h3>
<table style="width:100%" class="striped">
    <thead>
    <tr>
        {% for title in data.0 %}
        <th>{{title}}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for event in data %}
    <tr>
        {% for key, val in event.items %}
        <td>
            {{val}}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
</table>
<form action='create_event' method='GET'>
    <button class="waves-effect waves-light btn" type='submit'>Create Event</button>
</form>
<a href="#" onclick="signOut();">Sign out</button>
<div class="g-signin2" style="display: none" data-onsuccess="onSignIn" data-theme="dark"></div>
<script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
            document.cookie = "signed_in=";
            window.location.replace('')
          });
        }
</script>

{% endif %}
{% if not user.is_authenticated %}
<center>
    <body>
            <div id = "signed_in_container">
                <h4>Login with your company email</h4>
                <div id = "google-login" class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
            </div>
        <script>
            function onSignIn(googleUser) {
            // Useful data for your client-side scripts:
            var profile = googleUser.getBasicProfile();
            var email = profile.getEmail();
            
            document.cookie = "signed_in="+email;
            document.cookie = "first_name=" + profile.getGivenName();
            document.cookie = "last_name=" + profile.getFamilyName();
            // The ID token you need to pass to your backend:
            var id_token = googleUser.getAuthResponse().id_token;
            window.location.replace('')
            }
        </script>
    
        </body>
</center>
  
{% endif %}
{% endblock %}