{% extends 'main/header.html' %}

{% block content %}

<div id="checkboxes">
    <form action='choose_lead' method='POST'>
        {% csrf_token %}
        <label>Select a skill to talk about</label>

        {% for skill, count in data.items %}
        <br>
        <label>
            <input type="radio" name="skill" value="{{skill}}">
            <span>
                {{skill}}: {{count}}
            </span>
        </label>
        {% endfor %}

        <br>
        <button type='submit'>Next</button>
    </form>
</div>
{% endblock %}