{% extends 'main/header.html' %}

{% block content %}
    
<div id="checkboxes">
        <label>Select someone to lead the Lunch and Learn</label>
            
                    {% for user in data %}
                    <br>
                        <label>
                            <input type="checkbox" value="True">
                            <span>
                                {{user}}
                            </span>
                        </label>
                    {% endfor %}
                    
               
</div>      
<form action='choose_food' method='GET'>
        <button type='submit'>Next</button>
</form>
{% endblock %}