{% extends 'main/header.html' %}

{% block content %}

<div id="checkboxes">
    <form action='choose_lead' method='POST'>
        {% csrf_token %}
        <label>Select a skill to talk about</label>

            
                    {% for skill in data %}
                    <br>
                        <label>
                            <input type="checkbox" value="True">
                            <span>
                                {{skill}}
                            </span>
                        </label>
                    {% endfor %}
                    
               
</div>      
<form action='select_time' method='GET'>
     <button type='submit'>Next</button>
    </form>
</div>
{% endblock %}