{% extends 'main/header.html' %}

{% block content %}

<H2>Edit Profile</h2>
<form action="edit_profile" method="POST">
    {% csrf_token %}
    <span>
        Name: {{name}}
    </span>
    <br>
    <h5>What skills do you want to learn:</h5>
    {% for skill,level in skills_want.items %}
    <label>
        <input type="checkbox" name="{{skill}}_want" value="{{skill}}" checked>
        <span>
            {{skill}}
        </span>
        
        <input type="range" name="{{skill}}_want_val" min="-1" max="10"value="{{level}}">
        <label>skill level</label><br>
    </label>
    {% endfor %}
    {% for skill in new_skills_want %}
    <label>
        <input type="checkbox" name="{{skill}}_want" value="{{skill}}">
        <span>
            {{skill}}
        </span>
        <input type="range" name="{{skill}}_want_val" min="-1" max="10" value="0">
        <label>skill level</label><br>
    </label>
    {% endfor %}
    <h5>What skills do you know:</h5>
    {% for skill,level in skills_know.items %}
    <label>
        <input type="checkbox" name="{{skill}}_know" value="{{skill}}" checked>
        <span>
            {{skill}}
        </span>
        <input type="range" name="{{skill}}_know_val" min="0" max="10" value="{{level}}">
        <label>skill level</label><br>
    </label>
    {% endfor %}
    {% for skill in new_skills_know %}
    <label>
        <input type="checkbox" name="{{skill}}_know" value="{{skill}}">
        <span>
            {{skill}}
        </span>
        <input type="range" name="{{skill}}_know_val" min="1" max="10" value="1">
        <label>skill level</label><br>
    </label>
    {% endfor %}
    <button class="waves-effect waves-light btn" type="submit">OK</button>
</form>

{% endblock %}